<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Анализатор страниц</title>
     <div class="container px-0">
		<!-- Button -->
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icon-bar top-bar mt-0"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
		<!-- Collapse -->
		<div class="collapse navbar-collapse" id="navbar-default">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="#landings">Landings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#dashboard">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://geeksui.codescandy.com/geeks/docs/index.html" target="_blank">Docs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://geeksui.codescandy.com/geeks/docs/changelog.html" target="_blank">Changelog</a>
				</li>
</head>
<body>
  Привет всем!
</body>
</html>